 * {
    padding: 0;
    border: 0;
    margin: 0;
 }

 :root {
    --verde: rgb(23, 117, 23);
    --branca: white;
 }

 body {
    height: 100vh;
    background-color: var(--verde);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .container {
    display: grid;
    background-color: var(--branca);
    border-radius:10px;
    height: 45vh;
    width: 40vw;

 }

 .titulo {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
 }

 img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 2%;
 }


 .formulario {
    display: flex;
    flex-direction: column;
    position: relative;
 
 }

 input {
    border: 1px solid black;
    border-radius: 10px;
    padding: 4%;
    width: 20vw;
 }

 .link {
    width: 30%;
    position: absolute;
    top: 62%;
    border: 1px solid black;
    padding: 5px;
 }
p {
    position: absolute;
    top: 69%;

}
 .pai2 {
    width: 40vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 }

 .botoes {
    height: 25vw;
    width: 10vw;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
 }

 button {
    background-color: var(--verde);
    color: var(--branca);
    width: 4vw;
    height: 5vh;
    border-radius: 10px;
 }